<div class="col-sm-8 col-sm-offset-2">
    


    <nav class="navbar navbar-default">
      <div class="container-fluid">Bloggy</div>
    
    </nav>
    <div class="position-relative">
        <div class="col-md-2 mt-3 position-absolute top-0 start-0 justify-content-center"  style="height: 20px; width: 300px">
            <img [src]="posts.image_url" class="img-thumbnail" alt="..." style="height: 200px; width: 300px" >
        </div>

        <p style="text-decoration-color: black;"> {{posts.resume}} </p>

    </div>
    <img [src]="posts.image_url" alt="">
    
</div>