<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
       <h2>Creer un compte Administrateur</h2>
       <form >
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" name="email" [(ngModel)]="email">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" class="form-control" name="password" [(ngModel)]="password">
        </div>
        <button class="btn btn-primary" type="submit" (click)="register()">Enregistrer</button>
        <div class="row">
            <div class="col-md-6">
                <a href="/connexion" style="text-decoration: none;"> Avez vous déja un compte ? <span class="text-danger">Connectez-Vous</span></a>
            </div>
        </div>
       </form>
    </div>
</div>

