<nav class="navbar navbar-right">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li >
                <a href="/inscription">Creer un compte Administrateur</a>
            </li>
            <li >
                <a href="/connexion">
                    Connexion
                </a>
            </li>
        </ul>
    
    </div>

</nav>
<div class="col-sm-8 col-sm-offset-2">
    <h2> Bienvenue dans BLOGGY</h2>
    <li>
        
        <a href="/inscription" routerLinkActive="active">Creer un compte Administrateur</a>
    </li>
    <li>
        <a href="/connexion" routerLinkActive="active">Connexion</a>
    </li>
    
    
</div>


